.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.login-container form {
  width: 100%;
}

.login-container form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.login-container form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

.login-container form input:focus {
  border-color: rgba(128, 182, 252, 1);
  outline: none;
}

.login-container button {
  padding: 12px 18px;
  background-color: rgb(227, 160, 127);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px; 
}

.login-container button:hover {
  background-color: rgb(199, 116, 74); 
}

.login-container p {
  color: rgba(128, 182, 252, 1);
  font-size: 14px;
  margin-top: 10px;
}

.login-container .button-container {
  display: flex;
  justify-content: space-between; 
}

.login-container .button-container button {
  width: 48%; 
}

.login-container button + button {
  background-color: rgba(128, 182, 252, 1); 
}

.login-container button + button:hover {
  background-color: #0056b3;
}

.modal {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal.show {
  display: flex;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 10000;
}

.body-blur {
  filter: blur(5px);
  pointer-events: none; 
}

.modal-content h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.modal-content button {
  padding: 12px 18px;
  background-color: rgb(227, 160, 127); 
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.modal-content button:hover {
  background-color: rgb(199, 116, 74); 
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #555;
  cursor: pointer;
}

.modal.show .modal-content {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
